<h1> Users posts </h1>
<div class="row">
  <div class="col-md-2 col-sm-12">
    <img src="<%= @user.photo %>" class="img-thumbnail" />
    <div>
        <%= link_to 'Add New Post', new_user_post_url(@user) %>
    </div>
  </div>
  <div class="col-md-7 col-sm-12">
    <div><%= @user.name %></div>
  </div>
  <div class="col-md-3 col-sm-12">
    <div>Number of posts: <%= @user.posts_counter || 0 %></div>
  </div>
  <section class="row">
    <h2 class="mt-4">Bio</h2>
    <div class="text-justify">
      <%= @user.bio %>
    </div>
  </section>

  <% @user.posts.each do |post| %>
    <section class="mt-4">
      <%= link_to user_post_path(@user.id, post.id) do %>
        <h2><%= post.title %></h2>
      <% end %>
      <p><%= post.text %></p>
      <%= link_to 'Add Comment', new_user_post_comment_url(post.author, post) %>
      <div class="d-flex justify-content-end">
        <span>Comments: <%= post.comments_counter || 0 %> </span>
        <span class="mx-2"> Likes: <%= post.likes_counter || 0 %></span>
        <%= form_with url: user_post_likes_path(post.author, post), method: :post do |f| %>
          <%= f.submit 'Like post' %>
        <% end %>
        <% if can? :destroy, post %>
          <%= form_with url: user_post_path(@user.id, post.id), method: :delete do |f| %>
            <%= f.submit 'Delete post', class: 'btn-danger btn-sm mx-2' %>
          <% end %>
        <% end %>
      </div>
    </section>
    <% if post.five_recent_comments.length == 0 %>
      <p>No comments Available!</p>
    <% else %>
    <% post.five_recent_comments.each do |comment| %>
     <div class="d-flex">
     <p><%=comment.author.name %>: <%=comment.text %></p>
     <% if can? :destroy, comment %>
       <%= form_with url: user_post_comment_path(post.author.id, post.id, comment.id), :method => :delete do |f| %>
         <%= f.submit 'Delete', class: 'glyphicon glyphicon-trash mx-2' %>
       <% end %>
     <% end %>
     </div>
  <%end%>
    <% end %>
  <% end %>

  <div class="d-flex justify-content-center mt-3">
   <ul class="d-flex list-unstyled">
    <% 20.times do |item| %>
     <li class="p-1"><%= item %></li>
    <% end %>
   </ul>
  </div>
</div>