<h1>Single Post View</h1>

<% if flash[:success] %>
  <div class="alert alert-success"><%= flash[:success] %></div>
<% end %>

<section class="mt-4">
    <h2><%= @post.title %></h2>
    <strong>By <%= @post.author.name %></strong>
    <div class="d-flex justify-content-end">
      <span>Comments: <%= @post.comments_counter || 0 %> </span>
      <span class="mx-2"> Likes: <%= @post.likes_counter || 0 %></span>
      <%= render 'posts/like_form' %>
      <%= render 'posts/delete_post' %>
    </div>
  <p><%= @post.text %></p>
  <%= link_to 'Add Comment', new_user_post_comment_url(@post.author, @post) %>
</section>

<% if @post.comments.length == 0 %>
      <p class="mt-3">No comments Available!</p>
    <% else %>
    <% @post.comments.each do |comment| %>
      <div class="d-flex">
     <p><%=comment.author.name %>: <%=comment.text %></p>
     <% if can? :destroy, comment %>
       <%= form_with url: user_post_comment_path(@post.author.id, @post.id, comment.id), :method => :delete do |f| %>
         <%= f.submit 'Delete', class: 'glyphicon glyphicon-trash mx-2' %>
       <% end %>
     <% end %>
     </div>
    <% end %>
<% end %>

